#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -ldflags="-X main.serverVersion=0.1.0" -o mcp-server-pcd .

override_dh_auto_install:
	install -D -m 0755 mcp-server-pcd $(CURDIR)/debian/mcp-server-pcd/usr/bin/mcp-server-pcd
	install -D -m 0644 mcp-server-pcd.service $(CURDIR)/debian/mcp-server-pcd/usr/lib/systemd/system/mcp-server-pcd.service

override_dh_auto_test:
	go test ./...
