#!/usr/bin/make -f

export CGO_ENABLED=0
export DH_GOLANG_GO_GENERATE=1

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	make build

override_dh_auto_install:
	mkdir -p debian/pcdp-lint/usr/bin
	install -m 755 build/pcdp-lint debian/pcdp-lint/usr/bin/pcdp-lint